@model blog.Models.customer
@{
    ViewData["Title"] = "login";
    Layout = "~/Views/Shared/_mainlayout.cshtml";
}


<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />


<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login | By Code Info</title>
    <link href="~/css/login.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap"
          rel="stylesheet" />
</head>
<body>
    <div class="login-box" style="margin-bottom:150px;margin-top:150px">
        <h1>Login</h1>
        <form method="post">

            <label asp-for="email"></label>           
            <input type="email" asp-for="email" placeholder="" />
            <span asp-validation-for="email"></span>
            <label asp-for="password"></label>
            <input type="password" asp-for="password" placeholder="" />
            <span asp-validation-for="password"> </span>
            <div style="text-align:center"> <input type="submit" class="submitBtn" value="Sign IN"></div>
          
            @if (ViewBag.msg != null)
            {
                <div class="alert alert-dark">@ViewBag.msg</div>
            }
           
        </form>
        <p class="para-2">
            @Html.ActionLink("Have an account? Sign Up!", "register", "user")

        </p>
    </div>
    
</body>

</html>

@section Scripts{

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
}


