@model blog.Models.news

@{
    ViewData["Title"] = "addNews";
    Layout = "~/Views/Shared/_mainlayout.cshtml";
}


<div id="contact" class="contact">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="titlepage">
                    <h3>Wat do you think to add..?</h3>
                </div>
            </div>
        </div>
       

            

                    <form method="post" enctype="multipart/form-data">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                     
                        <div class="row">
                         <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 offset-md-3">
                        <div class="contact">
                            
                            <div class="col-sm-12">
                                <input asp-for="title" class="contactus" placeholder="titlt" type="text name="name" />
                                <span asp-validation-for="title" class="text-danger"></span>
                            </div>
                            <div class="col-sm-12">
                                <input asp-for="pref" class="contactus" placeholder="pref" type="text name="email" />
                                <span asp-validation-for="pref" class="text-danger"></span>
                            </div>
                            <div class="col-sm-12">
                                <input asp-for="description" class="contactus" placeholder="description" type="text name="phone" />
                                <span asp-validation-for="description" class="text-danger"></span>
                            </div>
                            <div class="col-sm-12">
                            <label asp-for="category" class="control-label"></label>
                            <select class="form-control" asp-for="category">
                                <option value="sprt">sport</option>
                                <option value="art">art</option>
                                <option value="Business">Business</option>
                                <option value=" Economics"> Economics</option>
                                <option value="Technology">Technology</option>
                                <option value=" General News"> General News</option>
                            </select>
                                <span asp-validation-for="category" class="text-danger"></span>
                            </div>
                            <div class="col-sm-12">
                                
                                <input type="file" asp-for="photo" class="contactus" name="photo" placeholder="photo" />
                                <span asp-validation-for="photo" class="text-danger"></span>
                            
                            </div>
                            <div class="col-sm-12">

                                <input type="submit" class="send" value="Send">
                            </div>
                        </div>
                        </div>
                        </div>
                    </form>
                </div>
            </div>
       
   
@section Scripts{

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
}

